commands:
 01_Export:
  command: echo "export APP_HOME=/opt/" >> /opt/starter.log
 02_DockerPullImage:
  command: docker pull ${docker.registry.namespace}/${docker.image.repo}:${docker.image.version}
 03_DockerRun:
  command: docker run -d -p 8181:8181 ${docker.registry.namespace}/${docker.image.repo}:${docker.image.version}
